@page "/"
@page "/{urlkategori}"
@inject IKategoriService KategoriService
<PencarianProduk />

@if (kat != null)
{
    <h1>List Produk Kategori @kat.Nama</h1>
    <ListProduk IdKat="@kat.IdKategori">
}
else
{
    <h1>Selamat Datang Pada Toko Online 2112510116 :) </h1>
    </ListProduk>
}

@code
{
    [Parameter]
    public string? urlkategori { get; set; }
    private Kategori? kat = null;

    protected override void OnParametersSet()
    {
        if(urlkategori != null)
        {
            kat = KategoriService.Kategoris.FirstOrDefault(c => c.Nama == urlkategori);
        }
        else
        {
            kat = null;
        }
    }
}
